@import './vars.css';
@import './utils.css';
@import '../components/layout/layout.css';
@import '../components/account-controls/account-controls.css';
@import '../components/header-title/header-title.css';
@import '../components/reports-header/reports-header.css';
@import '../components/listbox/listbox.css';
@import '../../node_modules/react-day-picker/dist/style.css';
@import '../components/date-picker/date-picker.css';
@import '../components/button/button.css';
@import '../components/report/report.css';
@import '../components/report-donut-chart/report-donut-chart.css';
@import '../components/expandible-item/expandible-item.css';
@import '../components/report-table/report-table.css';



html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}


*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: transparent;
}


